/*mobile nav menu*/
.slicknav_menu{display: none;}
@media screen and (min-width:415px){
.slid-parent{
    display: flex; /* equal height of the children */
}
.text-content,.image-content{
    //display: table-cell;
    //vertical-align: middle;
    flex: 1;

}
}
@media screen and (max-width:992px){
    #menu{
        display: none;
    }
    .slicknav_menu{
        display: inline-block;
        position: fixed;
        z-index: 1000;
        background: transparent;
        right: 0;
        margin: 140px 5px;
    }
    header{
        margin-top: 100px;
        //background-color: blue;
    }
    .slider{
        margin-top: -100px;
        padding-top: 215px;
    }
    .slicknav_btn{
        background-color: #7e5c88;
    }
    .slicknav_nav {
        background-color: #7e5c88;
        width: 200px;	
        border: 1px solid #7e5c88;
    }
    .slicknav_nav li{
        margin: 0px;
        padding: 0px;
        height: 3em;
        line-height: 3em;
        width: 200px;
    }
    .slicknav_nav li a{
        margin: 0px;
        padding: 0 10px;
    }
    .slicknav_nav li a:hover, .slicknav_nav li.actvie a{
        color: #7e5c88;
        background-color: #ffffff;
        border-radius: 0px;
        transition: all 0.5s ease-out;
    }
    

}


@media screen and (max-width:415px){
    .slider-carousle .slider-image {
	border-radius: 50%;
	border: 10px solid #7e5c88;
	width: 50%;
}
.text-content {
	padding-bottom: 25px;
        padding-top: 0px;
}
.text-content h2 {
    margin-top:5px;
    font-size: 2.5em;
    width: auto;
}
.text-content{
    float: none;
    text-align: center;
}
}

@media screen and (max-width:330px){

}

@media screen and (max-width:815px){
.header-logo {	
	margin-left: 3%;
}
}
